@model AboutItem

@{
    ViewData["Title"] = "UpdateAboutItem";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Hakkımda Bölümü Madde Düzenleme Sayfası</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="AboutItemId" />
            <label>İçerik</label>
            <input type="text" asp-for="Detail" class="form-control" />
            <br />
            <button class="btn btn-success">Alanı Kaydet</button>
        </form>
    </div>
</div>