@model List<Category>

<section id="categories-1" class="widget widget_categories">
    <h2 class="widget-title">Kategorilerimiz</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li class="cat-item cat-item-16"><a href="#">@item.Name</a> (0)</li>
        }
    </ul>
</section>