
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

    @await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>
    <header class="header-area header-three">

        @await Component.InvokeAsync("_DefaultHeaderComponentPartial")

        @await Component.InvokeAsync("_DefaultHeaderContactComponentPartial")

        @await Component.InvokeAsync("_DefaultNavbarComponentPartial")

    </header>

    @await Component.InvokeAsync("_DefaultMobileMenuComponentPartial")

    <main>
        
        @await Component.InvokeAsync("_DefaultSliderComponentPartial")

        @await Component.InvokeAsync("_DefaultAboutComponentPartial")

        @await Component.InvokeAsync("_DefaultInsureServiceComponentPartial")

        @await Component.InvokeAsync("_DefaultTrailerVideoComponentPartial")

        @await Component.InvokeAsync("_DefaultServiceComponentPartial")

        @await Component.InvokeAsync("_DefaultCounterComponentPartial")

        @await Component.InvokeAsync("_DefaultSkillComponentPartial")

        @await Component.InvokeAsync("_DefaultPricingPlanComponentPartial")

        @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

        @await Component.InvokeAsync("_DefaultGalleryComponentPartial")

        @await Component.InvokeAsync("_DefaultLastThreeArticleComponentPartial")
        
        @await Html.PartialAsync("~/Views/Default/SendMessage.cshtml")

        @await Html.PartialAsync("~/Views/Default/SubscribeEmail.cshtml")

    </main>

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>
</html>
