@model TrailerVideo

@{
    ViewData["Title"] = "UpdateTrailerVideo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Video Düzenleme Sayfası</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="TrailerVideoId" />
            <label>Video Başlığı</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />
            <label>Kapak Fotoğrafı</label>
            <input type="text" asp-for="CoverImageUrl" class="form-control" />
            <br />
            <label>Video Youtube Embed Url</label>
            <input type="text" asp-for="VideoUrl" class="form-control" />
            <br />
            <button class="btn btn-success">Videoyu Kaydet</button>
        </form>
    </div>
</div>