<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/snacked/ltr/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Admin Paneli</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class="bi bi-list"></i>
        </div>
    </div>
    <ul class="metismenu" id="menu">

        <li>
            <a href="/site/visit/">
                <div class="parent-icon"><i class="bi bi-globe2"></i></div>
                <div class="menu-title">Siteye Git</div>
            </a>
        </li>

        <li>
            <a href="/dashboard/index/">
                <div class="parent-icon"><i class="bi bi-speedometer2"></i></div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>

        <li>
            <a href="/ai/livechat/">
                <div class="parent-icon"><i class="bi bi-lightbulb"></i></div>
                <div class="menu-title">Anlık AI Chat Bot</div>
            </a>
        </li>

        <li>
            <a href="/Category/CategoryList/">
                <div class="parent-icon"><i class="bi bi-grid"></i></div>
                <div class="menu-title">Kategoriler</div>
            </a>
        </li>

        <li>
            <a href="/Article/ArticleList/">
                <div class="parent-icon"><i class="bi bi-file-earmark-text"></i></div>
                <div class="menu-title">Makaleler</div>
            </a>
        </li>

        <li>
            <a href="/About/AboutList/">
                <div class="parent-icon"><i class="bi bi-info-circle"></i></div>
                <div class="menu-title">Hakkımızda</div>
            </a>
        </li>

        <li>
            <a href="/AboutItem/AboutItemList/">
                <div class="parent-icon"><i class="bi bi-ui-checks-grid"></i></div>
                <div class="menu-title">Hakkımızda Ögeleri</div>
            </a>
        </li>

        <li>
            <a href="/Contact/ContactList/">
                <div class="parent-icon"><i class="bi bi-telephone"></i></div>
                <div class="menu-title">İletişim</div>
            </a>
        </li>

        <li>
            <a href="/Message/MessageList/">
                <div class="parent-icon"><i class="bi bi-envelope"></i></div>
                <div class="menu-title">Mesaj Listesi</div>
            </a>
        </li>

        <li>
            <a href="/PricingPlan/PricingPlanList/">
                <div class="parent-icon"><i class="bi bi-credit-card"></i></div>
                <div class="menu-title">Ödeme Planları</div>
            </a>
        </li>

        <li>
            <a href="/Service/ServiceList/">
                <div class="parent-icon"><i class="bi bi-briefcase"></i></div>
                <div class="menu-title">Hizmetlerimiz</div>
            </a>
        </li>

        <li>
            <a href="/Slider/SliderList/">
                <div class="parent-icon"><i class="bi bi-images"></i></div>
                <div class="menu-title">Slider</div>
            </a>
        </li>

        <li>
            <a href="/Testimonial/TestimonialList/">
                <div class="parent-icon"><i class="bi bi-chat-square-quote"></i></div>
                <div class="menu-title">Referanslar</div>
            </a>
        </li>

        <li>
            <a href="/TrailerVideo/TrailerVideoList/">
                <div class="parent-icon"><i class="bi bi-play-circle"></i></div>
                <div class="menu-title">Trailer Video</div>
            </a>
        </li>

        <li>
            <a href="/settings/settingslist/">
                <div class="parent-icon"><i class="bi bi-gear"></i></div>
                <div class="menu-title">Ayarlar</div>
            </a>
        </li>

        <li>
            <a href="/account/logout/">
                <div class="parent-icon"><i class="bi bi-box-arrow-right"></i></div>
                <div class="menu-title">Çıkış Yap</div>
            </a>
        </li>

    </ul>
</aside>