
@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="semi-dark">

    @await Component.InvokeAsync("_AdminHeadComponentPartial")

<body>
    <div class="wrapper">

        @await Component.InvokeAsync("_AdminNavbarComponentPartial")

        @await Component.InvokeAsync("_AdminSidebarComponentPartial")

        <main class="page-content">

            @await Component.InvokeAsync("_AdminBreadCrumbComponentPartial")

            @RenderBody()

        </main>

        @await Component.InvokeAsync("_AdminSwitcherComponentPartial")

    </div>

    @await Component.InvokeAsync("_AdminScriptComponentPartial")

</body>

</html>