@{
    ViewData["Title"] = "CreateArticleWithOpenAI";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">OpenAI ile Yapay Zeka Destekli Makale Oluşturma</h5>
        </div>
        <br />
        <form method="post">
            <label>Makale İçeriği Özeti ve Anahtar Keliemeler</label>
            <input type="text" name="prompt" class="form-control" />
            <br />
            <button class="btn btn-primary">AI ile Makale Oluştur</button>
        </form>

        <br /><br />
        @if (ViewBag.article != null)
        {
            <hr />
            <h5>Oluşturulan AI Makalesi: </h5>
            @Html.Raw(ViewBag.article.ToString())
        }
    </div>
</div>