@model Article

@{
    ViewData["Title"] = "CreateArticle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Makale Oluşturma Sayfası</h5>
        </div>
        <form method="post">
            <label>Başlık</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />
            <label>Kapak Fotoğraf Url</label>
            <input type="text" asp-for="CoverImageUrl" class="form-control" />
            <br />
            <label>Makale Dety Kapak Görseli</label>
            <input type="text" asp-for="MainCoverImageUrl" class="form-control" />
            <br />
            <label>Kategori</label>
            <input type="text" asp-for="CategoryId" class="form-control" />
            <br />
            <label>Kategori</label>
            <textarea class="form-control" asp-for="Content" rows="15"></textarea>
            <br />
            <button class="btn btn-info">Makaleyi Oluştur</button>
        </form>
    </div>
</div>