@model Message

@{
    ViewData["Title"] = "UpdateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Örnek Mesaj Düzenleme Sayfası</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="MessageId" />
            <label>Gönderici Adı Soyadı</label>
            <input type="text" asp-for="NameSurname" class="form-control" />
            <br />
            <label>Gönderici Email Adresi</label>
            <input type="text" asp-for="Email" class="form-control" />
            <br />
            <label>Konu</label>
            <input type="text" asp-for="Subject" class="form-control" />
            <br />
            <label>Mesaj Detayı</label>
            <input type="text" asp-for="MessageDetail" class="form-control" />
            <br />
            <button class="btn btn-primary">Mesajı Kaydet</button>
        </form>
    </div>
</div>