@model Article
<div class="details__content pb-30">
    <h2>
        @Model.Title
    </h2>
    <div class="meta-info">
        <ul>
            <li><i class="fal fa-person"></i> Yazar:  </li>
            <li><i class="fal fa-comments"></i> 0 Yorum</li>
            <li><i class="fal fa-car"></i> Kategori</li>
            <li><i class="fal fa-calendar-alt"></i> @Model.CreatedDate.ToString("dd-MMM-yyyy")</li>
        </ul>
    </div>
    <p>@Model.Content</p>
</div>